body {
  
}
a {
  text-decoration: none;
  color: slategrey;
}
/*navi bar*/

#nav1 {
  height: 73px;
  width: 100%;
  background: #000;
}
.nav2 {
  display: inline-block;
  list-style: none;
  margin: 15px 0 0 750px;

}
.nav2 li {
  float: left;
  text-align: center;
  padding: 7px 10px;
  border-left: 1px solid #fff;
  font-family: oswald;
  font-size: 20px;

}
.name {
  width: 150px;
  color: white;
  font-size: 30px;
  font-family: Comfortaa;
  display: inline-block;
  margin: 0 0 0 512px;
}

/* headings*/

h1 {
  background: #206969;
  height: 40px;
  text-align: center;
  width: 1150px;
  margin: 0 auto;
  font-family: Baloo Thambi;
}
/*main*/

#main {
  width: 1150px;
  height: 1300px;
  background: #b9d5d8;
  margin: 0 auto;
}
.box1 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 0 0 20px;
  display: inline-block;
}
.img1 {
  width: 500px;
  height: 350px;
}
figcaption {
  font-family: Architects Daughter;
  font-weight: bold;
 
}

.box2 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 20px 0 0;
  display: inline-block;
  float : right;
}

.box3 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 0 0 20px;
  display: inline-block;
}
.box4 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 20px 0 0;
  display: inline-block;
  float : right;
}
.box5 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 0 0 20px;
  display: inline-block;
}
.box6 {
  width: 500px;
  height: 350px;
  border: 26px solid white;
  margin: 20px 20px 0 0;
  display: inline-block;
  float : right;
}
 /*footer*/


#foot2 {
  height: 80px;
  width: 100%;
  background: #000;
}
.social1 {
  margin-left: 500px;
  height: 50px;
}
.social {
  width: 40px;
  height: 40px;
  display: inline;
  margin-top: 20px;
}
.social:hover {
  background: #e7662e;
}
p {
  color: forestgreen;
  width: 160px;
  display: inline-block;
  margin-left: 800px;
  font-size: 20px;
  font-family: oswald;
}

















